body {
	font-family: 'Roboto', sans-serif;
	padding: 20px 0;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
        border-top-color: rgb(222, 226, 230);
        border-right-color: rgb(222, 226, 230);
        border-bottom-color: rgb(222, 226, 230);
        border-left-color: rgb(222, 226, 230);
}

.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 384px;
}

.alert h4 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.alert.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert.alert-notice {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}